@model AE_VillaProject_2021.Models.EntityFramework.Towns

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_AdminLayout.cshtml";
}

<h2>Şehir Detay Sayfası</h2>

<div>
    <h4>Şehir</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Ad</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <p>Kayıt Tarihi</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>

        <dt>
            <p>Durum</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p >
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.TowndId },new {@class="btn btn-outline-dark"}) |
    @Html.ActionLink("Anasayfa'ya Dön", "Index",null,new { @class="btn btn-outline-dark"})
</p>
