@model List<AE_VillaProject_2021.Models.EntityFramework.Contacts>
<!--Header -->
<header class="header">
    <div class="topbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="d-block d-md-flex align-items-center text-center">
                        @foreach (var item in Model)
                        {
            <div class="me-3 d-inline-block">
                <a href="#"><i class="fa fa-phone me-2 fa fa-flip-horizontal"></i>@item.PhoneNumber </a>
            </div>
                            <div class="me-auto d-inline-block">

                            </div> @*<div class="social d-inline-block">
                                    <ul class="list-unstyled">
                                        <li><a href="@item.FacebookUrl"> <i class="fab fa-facebook-f"></i> </a></li>
                                        <li><a href="@item.TwitterUrl"> <i class="fab fa-twitter"></i> </a></li>
                                        <li><a href="@item.InstagramUrl"> <i class="fab fa-instagram"></i> </a></li>
                                        <li><a href="@item.YoutubeUrl"> <i class="fab fa-youtube"></i> </a></li>
                                    </ul>
                                </div>*@}
                        @if (Session["Name"] != null) //tamamlanacak
                        {
            <div class="login d-inline-block">
                @if ((string)ViewBag.Roles == "Admin")
                {
<a href="/ManagementPanel/Abouts/">Panel'e Git<i class="fa fa-user ps-2"></i></a> }
else
{
<a href="/Account/AccountProfile/">Panel'e Git<i class="fa fa-user ps-2"></i></a>}


            </div>
                            <div class=" d-inline-block ">
                                <a class="p-3" href="/Account/LogOut/">Çıkış Yap<i class="fa fa-user-times ps-2"></i></a>
                            </div> }
                        else
                        {
            <div class="login d-inline-block">
                <a data-bs-toggle="modal" data-bs-target="#loginModal" href="#">Merhaba Giriş Yap<i class="fa fa-user ps-2"></i></a>
            </div>}

                    </div>


                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-light bg-white navbar-static-top navbar-expand-lg header-sticky">
        <div class="container-fluid">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"><i class="fas fa-align-left"></i></button>
            <a class="navbar-brand" href="/Home/Index/">
                <h4 style="color: #00B7EB" class="fw-bold">LOGO</h4>
                @*<img class="img-fluid" src="~/Content/images/logo.svg" alt="logo">*@
            </a>
            <div class="navbar-collapse collapse justify-content-end">
                <ul class="nav navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="/Home/Index/">Ana Sayfa</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/Home/VillaList/">Kiralık Villalar</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/Home/About/">Hakkımızda</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/Home/TermsAndConditions/">Şartlar ve Koşullar</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/Home/Contact/">İletişim</a>
                    </li>


                </ul>
            </div>

        </div>
    </nav>
</header>

<!--Login -->
<div class="modal login fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="loginModalLabel">Giriş Yap & Kayıt Ol</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs nav-tabs-02 justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false">Giriş Yap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="register-tab" data-bs-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="true">Kayıt Ol</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "row my-4 align-items-center" }))
                        {
            <div class="mb-3 col-sm-12">
                <input type="text" class="form-control" placeholder="KullanıcıAdı" name="Name">
            </div>
                            <div class="mb-3 col-sm-12">
                                <input type="Password" class="form-control" placeholder="Şifre" name="Password">
                            </div>
                                            <div class="col-sm-12 d-grid">
                                                <button type="submit" class="btn btn-primary">Giriş Yap</button>
                                            </div>}


                    </div>
                    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                        @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "row mt-4 mb-5 align-items-center" }))
                        {
            <div class="mb-3 col-sm-12">
                <input type="text" class="form-control" placeholder="Ad" name="Name">
            </div>
                            <div class="mb-3 col-sm-12">
                                <input type="text" class="form-control" placeholder="Soyad" name="SurName">
                            </div>
                                            <div class="mb-3 col-sm-12">
                                                <input type="email" class="form-control" placeholder="Mail Adresi" name="Email">
                                            </div>
                                                            <div class="mb-3 col-sm-12">
                                                                <input type="Password" class="form-control" placeholder="Şifre" name="Password">
                                                            </div>
                                                                            <div class="col-sm-12 d-grid">
                                                                                <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                                                                            </div>}


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
