@model AE_VillaProject_2021.Models.EntityFramework.Contacts

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_AdminLayout.cshtml";
}

<h2>İletişim Silme Sayfası</h2>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>İletişim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Adres</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            <p>Mail</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            <p>Telefon</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            <p>Instagram</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstagramUrl)
        </dd>

        <dt>
            <p>Twitter</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwitterUrl)
        </dd>

        <dt>
            <p>Youtube</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YoutubeUrl)
        </dd>

        <dt>
            <p>Facebook</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookUrl)
        </dd>

        <dt>
            <p>Durum</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            <p>Kayıt Tarihi</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-outline-dark" /> |
            @Html.ActionLink("Anasayfa'ya Dön", "Index",null,new { @class="btn btn-outline-dark" })
        </div>
    }
</div>
