@model IEnumerable<AE_VillaProject_2021.Models.EntityFramework.Contacts>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_AdminLayout.cshtml";
}

<h2>İletişim Sayfası</h2>
<div class="alert alert-primary alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Site üzerinde kullanmak istediğiniz iletişim bilgisinin durumunu aktif olarak ayarlayınız</strong>
</div>
<p>
    @Html.ActionLink("Yeni Contact Oluştur", "Create", null, new { @class = "btn btn-outline-dark" })
</p>

<div class="row">

    <!-- ============================================================== -->
    <!-- contextual table -->
    <!-- ============================================================== -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">İletişim Sayfası</h5>
            <div class="card-body">
                <div class="table-responsive ">
                    <table class="table">
                        <thead>
                            <tr class="table-primary">
                                <th>
                                    <p>Adres</p>
                                </th>
                                <th>
                                    <p>Mail</p>
                                </th>
                                <th>
                                    <p>Telefon</p>
                                </th>
                                <th>
                                    <p>Durum</p>
                                </th>
                                <th>
                                    <p>Kayıt Tarihi</p>
                                </th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @if (item.Adress.Length > 20)
                                        {
                                            <p> @item.Adress.Substring(0, 20) .. </p>

                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Adress)
                                        }

                                    </td>
                                    <td>
                                        @if (item.Email.Length > 20)
                                        {
                                            <p> @item.Email.Substring(0, 20) .. </p>

                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Email)
                                        }

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegisterDate)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Düzenle", "Edit", new { id = item.Contactıd }, new { @class = "btn btn-outline-dark" }) |
                                        @Html.ActionLink("Detay", "Details", new { id = item.Contactıd }, new { @class = "btn btn-outline-dark" }) |
                                        @Html.ActionLink("Sil", "Delete", new { id = item.Contactıd }, new { @class = "btn btn-outline-dark" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

